@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Yanone+Kaffeesatz&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding: 0;
    box-sizing:border-box ;
    text-decoration:none ;
    outline:none ;
    border: none;
    text-transform:capitalize ;
    /*transition: all .1s linear;*/

}
:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --dark-color: #2d2c2c;
    --purple-solid: #350a4f;
    --purple-transparent: rgba(53, 10, 79, .9) ;
    --purple-transparent-alt:rgba(53, 10, 79, .5);
    --purple-light:#8f50fb;
    --yellow-solid:#fa9e2c;
    --gradient-color:linear-gradient(to right, var(--purple-transparent), var(--purple-light));
    --gradient-color-alt:linear-gradient(to right, var(--purple-light), var(--purple-transparent));
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}
html{
    font-size: 62.5% ;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem ;
    scroll-behavior:smooth ;
}
section{
    padding: 2rem 9%;
}
/*.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    padding: 1rem;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
}
*/
.btn{
    color: #fff;
    background: var(--purple-light);
    font-size: 1.8rem;
    font-weight: bold;
    padding: .5rem 3.5rem ;
    border-radius: 10rem;
}
.btn-gradient{
    background-image: var(--gradient-color);
}
.btn-gradient:hover{
    background-image: var(--gradient-color-alt);
    letter-spacing: .1rem;
    font-size: 2rem;
    color: var(--yellow-solid);
}
.sub-heading{
    color:var(--green);
    font-size: 5rem;
    text-align: center;
    padding-top: 1rem;
    
}
.heading{
    color:var(--black);
    font-size: 3rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    
}
header{
    position:fixed ;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex ;
    align-items: center ;
    justify-content: space-between ;
    z-index: 1000 ;
    box-shadow:var(--box-shadow);
}
header .logo{
   color: var(--black);
   font-size: 2rem;
   font-weight: bolder;
}
header .logo i{
    color: var(--green);
    margin-right: 3px;
}
header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem ;
    padding: .5rem 1.5rem ; 
    color: var(--black);
}

header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background-color:var(--green);
}
header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .6rem ;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem ;
    text-align:center ;
    font-size: 1.7rem;
    color: var(--black);
    border-radius:50% ;
    background: #eee;
}
header .icons i:hover,
header .icons a:hover{
   color: #fff;
   background: var(--green);
   transform: rotate(360deg);
}
header .icons #menu-bars{
    display: none;
}
/*search button design*/
#search-form{
    position: fixed;
    left: -110%;right:0;
    height: 100%;width:100%;
    z-index: 1004;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}
#search-form.active{
    top:0;
}
#search-form #search-box{
   width: 50rem;
   border-bottom: .1rem solid #fff ;
   padding: 1rem 0;
   color: #fff;
   font-size: 3rem;
   text-transform: none;
   background: none;

}
#search-form #search-box::placeholder{
    color: #eee;
}
#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
#search-form  label{
    color: #fff;
    cursor: pointer;
   font-size: 3rem;
}
#search-form #close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top:2rem; right: 3rem;
    font-size: 5rem;
}
/*home desgain start*/
.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    padding-top: 9rem;
}
.home .home-slider .slide .content{
    flex: 1 1 45rem;
}
.home .home-slider .slide span{
    font-size: 3rem;
    color: var(--green);
}
.home .home-slider .slide h3{
    color: var(--black);
    font-size: 6rem;
}
.home .home-slider .slide p{
     color: var(--light-color);
     font-size: 2rem;
     line-height: 1.5;
     padding: .5rem 0;
     margin-bottom: 1rem;
}
.home  .home-slider .slide .img{
    flex: 1 1 45rem;
}
.home .home-slider .slide .img img{
   width: 100%;
}
.swiper-pagination-bullet-active{
    background: var(--green);
}

/*dishes start*/
.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(33rem,1fr));
    gap: 1.5rem;
}
.dishes .box-container .box{
 padding: 2.5rem;
 background: #fff;
 border-radius: .5rem;
 border: 1rem solid rgba(0,0,0,.2);
 box-shadow: var(--box-shadow);
 position: relative;
 overflow: hidden;
 text-align: center;
 outline: .1rem solid #fff;
 outline-offset: -1.5rem;
}

.dishes .box-container .box:hover{
    outline: .2rem solid #350a4f;
 outline-offset: 0;
}
.dishes .box-container .fa-heart{
    position: absolute;
    top: -15rem;
    background: #eee;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);
}
/*.dishes .box-container .box  h5{
    display: inline-block;
    margin-right: 10rem;
    color: white;
    border-radius: .6rem;
    padding: .3rem;
    background: var(--black);
    font-size: 2rem;

}*/
.dishes .box-container .fa-heart:hover{
    background: var(--green);
    color: #fff;
}
.dishes .box-container .box:hover .fa-heart{
    top: 1.5rem;
    
}
.dishes .box-container .box img{
    height: 17rem;
    margin: 1rem 0;
}
.dishes .box-container .box h3{
    color:var(--black);
    font-size: 2.5rem;
    margin-top: -2rem;
    margin-bottom: .5rem;
}
.dishes .box-container .box .star{
    padding: 1rem 0;
}
.dishes .box-container .box .star i{
    color: var(--green);
    font-size: 1.7rem;
    margin-bottom: .5rem;
}
.dishes .box-container .box span{
    color: var(--green);
    font-size: 2.5rem;
    font-weight: bolder;
    margin-right: 1rem;
}
.dishes .box-container .box .btn-gradient{
   display: none;
}
.dishes .box-container .box:hover .btn-gradient{
    display: inline-block;
 }
/*about section start*/
.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    align-items: center;
}
.about .row .image{
    flex: 1 1 45rem;
}
.about .row .content{
    flex: 1 1 45rem;
}
.about .row .image img{
    width: 100%;
}
.about .row .content h3{
    color: var(--black);
    font-size: 4rem;
}
.about .row .content p{
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2;
}
.about .row .content .icons-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    margin-top: .5rem;
}
.about .row .content .icons-container .icons{
    background: #eee;
    border-radius: .5rem;
    font-size: 1.5rem;
    border: 1rem solid rgba(0,0,0,.2);
    align-items: center;
    justify-content: center;
    gap: 1rem;
    display: flex;
    flex: 1 1 17rem;
    color: var(--purple-solid);
    font-weight: bold;
}

.about .row .content .btn{
    background: var(--purple-solid);
    color: #fff;
}
.about .row .content .btn:hover{
    background: var(--green);
    color: #fff;
    letter-spacing: .9px;
}
.about-chefs h1{
    margin-top: 2rem;
    font-size: 5rem;
}
.about-chefs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(33rem,1fr));
    gap: 1.5rem;
    padding-bottom: 70px;
}
.about-chefs .box-container .box {
    padding:  15px 0;
    position: relative;
}

.about-chefs .box-container .box img{
    width: 100%;
}
.about-chefs .box-container .box:hover img{
    transform: skewY(1deg);
}

.about-chefs .box-container .box .info{
    position: absolute;
    text-align: center;
    font-size: 2rem;
    background: var(--black);
    border-radius: 8px;
    padding: 15px;
    color: #fa9e2c;
    left: 30px;right: 30px;
    bottom: 0;
    transform: translateY(50%);
    transition: all 0.5s ease;
}
.about-chefs .box-container .box:hover .info{
    transform: translateY(-15px);
    background: #fa9e2c;
    color: #fff;
}
  /*
  contact design start
  
  */
  .contact{
      background-image: url('image/bg1.jpg');
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      position: relative;
      z-index: 1;
      padding-bottom: 6rem;
  }
  .contact::before{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.7);
      z-index: -1;
  }
  .contact .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    color: #fff;
  }
  .contact .row .footer-item{
    text-transform: capitalize;
    padding: 2rem 0;
    margin-left: 1rem;
}
.contact .row .footer-item h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.contact .row .footer-item p{
    line-height: 2rem;
    font-size: 1.4rem;
}
.contact .row .footer-item .social-link {
    margin-top: 1.3rem;
}
.contact .row .footer-item .social-link a{
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
}
.contact .row .footer-item .social-link a:hover{
    color: #fa9e2c;
}
.contact .copyright{
    text-align: center;
    margin-top: 50px;
    border-top: 1px solid #c8c8c8;
    
}
.contact .copyright .thanks{
    font-size: 2rem;
    line-height: 1.7rem;
    color: #fa9e2c;
    margin-top: 2rem;
    
}
.contact .copyright .enjoy{
    font-size: 1.4rem;
    color: #fa9e2c;
}
.contact .copy{
    margin-top: 60px;
    text-align: center;
    color: #eee;
}
.social-link i{
    margin-right: 10px;
    font-size: 20px;
}
/*
  contact design end
  
  */
/*media queris start*/
@media (max-width:991px) {
    html{
        font-size: 55% ;
    }
    header{
        padding:1rem 1rem ;
    }
    section{
        padding: 2rem;
    }
}
@media (max-width:768px) {
    header .icons #menu-bars{
        display: inline-block;
    }
    header .navbar{
        position: absolute ;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 0 0);
    }
    header .navbar.active{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }
    .home .home-slider .slide h3{
        font-size: 5rem;
    }
    .about .row .content .icons-container .icons{
        font-size: 2rem;
    }

}
@media (max-width:879px){
    .about .row .content .icons-container .icons{
        font-size: 2rem;
    }
}
@media (max-width:991px) {
    html{
        font-size: 50% ;
    }
}